<div class="wrapper" id="header_wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#"><img class="img-fluid"
        src="../../assets/logo_prudential.jpg" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="font-size: 1.3rem; font-weight: 600;"> Underwriter Case Management </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">

        <ul class="nav navbar-nav ml-auto navright">
          <li>

            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

          </li>

          <li>
            <div class="input-group ">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-sliders" aria-hidden="true"></i>
                </button>
              </div>
              <input type="text" class="form-control search brdr-r-0"
                placeholder="Search Policy No / Campaign / Product" aria-label="" aria-describedby="basic-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary brdr-l-0" type="button" id="button-addon2"><i
                    class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>
          </li>

          <li>
            <div class="dropdown notifymenu"><span class="badge badge-danger">4</span>
              <!-- <button class="btn brdr-0 notify" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
    
      </button> -->
              <button type="button" class="btn brdr-0 notify" [popover]="popTemplate" [adaptivePosition]="false"  placement="bottom">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
              </button>
              <ng-template #popTemplate>
                <ul class="notification_pop">
                    <li>#LLG45781 - Closed by Sr. Underwriter</li>
                    <li>#LLG87781 - Customer submitted document</li>
                    <li>#LLG29673 - Assigned to you</li>
                    <li>#LLG67258 - SLA breached</li>
                </ul>
              </ng-template>
            </div>
          </li>

          <li>
            <div class="dropdown notifymenu">
              <button class="btn dropdown-toggle brdr-0 notify" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

          </li>


          <li>
            <div class="dropdown notifymenu">
              <button class="btn dropdown-toggle brdr-0 notify" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/person.png" width="51" height="51"
                  alt="" /></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

          </li>
        </ul>



      </form>
    </div>
  </nav>
</div>