#header_wrapper {
    height: 70px;
    position: relative;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
	nav {
		height: 100%;
		padding: 0px 10px;
		// overflow: hidden;
	}
    .logo {
        float: left;
    padding: 4px 15px;
    overflow: hidden;
    height: 100%;
        img {
            max-height: 68px;
        }
    }
}




.navbar, .navbar-brand{
	height: 70px;
	background-color: #fff;
}

.navbar-brand img{
	height: 106%;
}

.bg-light{
	background-color: #fff !important;
}

.navbar .form-control{
	margin-bottom: 0px;
	border-radius: 0px;
	border-color: #707070;
}

.btn{
	border-radius: 0px;
}

.navbar-brand{
	width: 200px;
	padding: 0px;
	overflow: hidden;
}

.search{
	height: 38px;
}

.dropdown-toggle{
	border: #707070 solid 1px;
}


.navright li{
	margin: 0 5px;
}


.navright li:nth-child(2){
	margin-right: 20px
}

.brdr-r-0{
	border-right: none !important;
}

.brdr-l-0{
	border-left: none !important;
}

.brdr-0{
	border: none !important;
}

.notify:focus{
	box-shadow: none;	
}

.notify::after{
	display: none;
}

.notifymenu {
	position: relative;
}


.fa{
	font-size: 20px;
}
.notifymenu .badge{
	position: absolute;
    right: 16px;
    top: 10px;
}

.notify img{
	width: 26px;
	height: auto;
}

.notifymenu .btn{
	padding-left: 2px;
	padding-right: 2px;
}
.notifymenu .dropdown-menu{
	right: 0;
	left: inherit;
	border-radius: 0px;
}

::ng-deep {
	.notification_pop {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 6px 10px;
			margin: 0 !important;
			border-top: solid 1px #d2d2d2;
			font-size: .8rem;
			border-radius: 5px;
			&:first-child {
				border-top: none;
			}
			&:nth-child(even) {
				background: #fafafa;
			}
			&:nth-child(odd) {
				
			}
		}
	}
	.popover-bottom  {
		width: 300px;
		max-width: 300px !important;
		right: -58px;
		left: auto !important;
		transform: translate3d(-46px, 36px, 0px) !important;
		box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.4);
		.popover-arrow {
			margin-left: -4px;
			left: auto !important;
			right: 10px;
		}
		.popover-body {
			padding: 0px !important;
		}
	}
}