<div class="graph_con">
  <canvas id="doughtnut"></canvas>
  <div div class="donut_value" style="cursor: pointer;pointer-events: all;" routerLink="/tasklist">77 <span>Total</span></div>
</div>
<div class="graph_labels">
    <span class="graph_label task"><i class="circle green"></i> 22 New</span>
    <span class="graph_label task"><i class="circle blue"></i> 55 Old</span>
</div>