<div class="graph_con">
    <canvas id="doughtnut1"></canvas>
    <div div class="donut_value">27 <span>Total</span></div>
  </div>
  <div class="graph_labels">
      <span class="graph_label task"><i class="circle pink"></i> 11 Campaign</span>
      <span class="graph_label task"><i class="circle green"></i> 7 Channels</span>
      <span class="graph_label task"><i class="circle blue"></i> 9 Commission</span>
  </div>