
    <ul class="main_menu">
            <li routerLink="/dashboard" routerLinkActive="active"><a><span class="icon"><img src="../assets/home.png" /></span> <span class="text">My Products</span></a></li>
            <li routerLink="/tasklist" routerLinkActive="active"><a><span class="icon"><img src="../assets/tasks.png" /></span> <span class="text">Manage My Products</span></a>
            </li>
            <li ><a><span class="icon"><img src="../assets/priority_Cases.png" /></span> <span
                        class="text">Transactions</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/add.png" /></span> <span class="text">New
                        Payment</span></a></li>
            <li><a><span class="icon"><img src="../assets/my_approvals.png" /></span> <span class="text">Upcoming
                        Payments</span></a></li>
            <li><a><span class="icon"><img src="../assets/my_activity.png" /></span> <span class="text">Insights
                        </span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/priority_Cases.png" /></span> <span
                        class="text">Budgets</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/files-and-folders.png" /></span> <span class="text">eStatements</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/MyContacts.png" /></span> <span class="text">My Contacts</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/credit-card.png" /></span> <span class="text">Cards</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/email.png" /></span> <span class="text">Inbox</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/find.png" /></span> <span class="text">Find Us</span></a>
            </li>
            <li><a><span class="icon"><img src="../assets/user.png" /></span> <span class="text">User Profile</span></a>
            </li>
            <li (click)="logOut()"><a><span class="icon"><img src="../assets/log_out.png" /></span> <span class="text">Logout</span></a>
            </li>
            <!-- <li><a><span></span></a></li> -->
        </ul>