<div class="login-conatiner">
        <div class="container">
                <div class="card card-container">
                    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                    <img id="profile-img" class="profile-img-card" src="../../assets/Login_prudential-logo.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" [formGroup]="myform" (ngSubmit)="loginUser()">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="username"  required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"  required>
                        <div class="row checkboxes">
                                <div class="col-6">
                                    
                                                <label class="checkbox">
                                                        <input type="checkbox" />
                                                        <span class="default"></span>
                                                    </label>Remember me
                                </div>
                                <div class="col-6 text-right"><a href="#" style="font-size: .7rem;">Forgot Username or Password</a></div>
                                </div>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!this.myform.valid" type="submit">Login</button>
                    </form><!-- /form -->
                 
                </div><!-- /card-container -->
            </div><!-- /container -->
</div>
