<div class="graph_con">
    <canvas id="doughtnut2"></canvas>
    <div div class="donut_value">10 <span>Total</span></div>
  </div>
  <div class="graph_labels">
      <span class="graph_label task"><i class="circle green"></i> 3 Additional Documents</span>
    <span class="graph_label task"><i class="circle yellow "></i> 1 Medical Reports</span>
    <span class="graph_label task"><i class="circle blue"></i> 6 Compliance Decisions</span>

  </div>
