<!-- <ngx-doc-viewer [url]="doc" viewer="google" style="width:100%;height:100%;"></ngx-doc-viewer> -->

<!-- <pdf-viewer [src]="doc" 
              [render-text]="true"
              style="display: block;"
  ></pdf-viewer> -->

  <iframe src="http://www.pdf995.com/samples/pdf.pdf"
   width="100%" height="100%" > 