<div class="modal-header">
    <h5 class="modal-title">Move to Senior Underwriter</h5>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <ng-container *ngIf="!confirmed">
        <div class="pop_confirm_test">
              <p style="font-size: 1rem; padding: 20px; line-height: 32px;">Do you want to move <strong>{{policyId?.policyDetails?.contractNumber}}</strong> to senior underwriter</p>
        </div>
    </ng-container>
    <ng-container *ngIf="confirmed">
        <div class="pop_confirm_test text-center alert alert-light">
            <p style="font-size: 1rem; padding: 0px 10px 0px; line-height: 32px;"> <img style="
              max-height: 50px;
              vertical-align: middle;
              margin: 0 10px 0 0;
          " src="../../assets/icon.png" /> <span style="display: block;">Proposal Moved</span></p>
      </div>
    </ng-container>
  
  </div>
  <div class="modal-footer">
      <ng-container *ngIf="!confirmed">
    <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </ng-container>
    <ng-container *ngIf="confirmed">
        <button type="button" class="btn btn-primary" (click)="sendRequest()">Ok</button>
    </ng-container>
  </div>