<app-header></app-header>
<div class="wrapper" id="main_content" [ngClass]="showSideBar ? 'menuopen' : 'menuclose'">
    <div class="wrapper" id="app_menu">
            <div class="menu_icon_holder">
                    <div class="menu_icon" (click)="toggleMenu()">
                        <!-- <img src="../../assets/icon_hamburger.jpg" /> -->
                        <img src="../../assets/hamburger_menu.png" />
                    </div>
                </div>
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="wrapper" id="content_wrapper">
        <div class="page-title">
            <h2>My Dashboard</h2>
        </div>
        <div class="content">
            <!-- <ng-scrollbar> -->
                <div class="sub-heading">
                    <h4>Today's Task</h4>
                    <div class="date-filter">
                            <input
                            class="" readonly
                            #datepickerYMD="bsDatepicker"
                            bsDatepicker
                            placeholder="Tuesday, July 23, 2019"
                            placement="bottom"
                            [bsConfig]="{ dateInputFormat: 'dddd, MMMM D, YYYY' }"
                            >
                         <span class="icon"><img (click)="datepickerYMD.toggle()" [attr.aria-expanded]="datepickerYMD.isOpen" src="../../assets/calender.png" /></span>
                    </div>
                </div>
                <div class="sections">
                    <div class="section mytasks" >
                        <div class="section-title">
                            <span class="icon">
                                <img src="../../assets/my_task.png" />
                            </span>
                            <span class="title">My Tasks</span>
                            <span class="drag-icon">
                                <img src="../../assets/drag&drop.png" />
                            </span>
                        </div>
                        <div class="section-content">
                            <div class="graph">
                                <app-doughnut-graph [data]="myTaskData" [labels]="myTaskLabels" [bgColors]="myTaskBgColors">
                                </app-doughnut-graph>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="section pendingcases">
                        <div class="section-title">
                            <span class="icon">
                                <img src="../../assets/Pending_Cases.png" />
                            </span>
                            <span class="title">Pending Cases</span>
                            <span class="drag-icon">
                                <img src="../../assets/drag&drop.png" />
                            </span>
                        </div>
                        <div class="section-content">
                            <div class="graph">
                                <app-doughnut-graph-priority [data]="pendingData" [labels]="pendingLabels"
                                    [bgColors]="pendingBgColors">
                                </app-doughnut-graph-priority>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="section prioritycases">
                        <div class="section-title">
                            <span class="icon">
                                <img src="../../assets/priority_Cases.png" />
                            </span>
                            <span class="title">Priority Cases</span>
                            <span class="drag-icon">
                                <img src="../../assets/drag&drop.png" />
                            </span>
                        </div>
                        <div class="section-content">
                            <div class="graph">
                                <app-doughnut-graph-pending [data]="prorityData" [labels]="prorityLabels"
                                    [bgColors]="prorityBgColors">
                                </app-doughnut-graph-pending>
                                <div class="settings_icon"><img src="../../assets/Outline.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel toptasks">
                    <div class="panel-heading">
                        <div class="title">My Approvals</div>
                        <div class="filters">
                            <!-- <div class="date-filter">
                                <span class="text">July 2019</span>
                                <span class="icon"><img src="../../assets/calender.png" /></span>
                            </div> -->
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="table_css">
                            <table>
                                <thead>
                                    <tr class="labelfontstyle">
                                        <th>Plan Name</th>
                                        <th>Contract No.</th>
                                        <th>Policy Status</th>
                                        <th>Underwriter</th>
                                        <th>Channel</th>
                                        <th>Risk</th>
                                        <th>TSR</th>
                                        <th>Premium</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr class="labelfontstyle">
                                        <td>LLG12345</td>
                                        <td>PRU Personal Accident</td>
                                        <td>Submitted</td>
                                        <td>Chitra P</td>
                                        <td>Singapore Bank</td>
                                        <td>Life $10,00,000 & ADD $50,000</td>
                                        <td>L$15,00,000</td>
                                        <td>$21,000</td>
                                        <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                        <td> <input type="submit" value="Reassign" disabled></td>
                                      </tr>
                                      <tr class="labelfontstyle">
                                        <td>LLG12345</td>
                                        <td>PRU Personal Accident</td>
                                        <td>Submitted</td>
                                        <td>Amrita T</td>
                                        <td>Singapore Bank</td>
                                        <td>Life $11,00,000 & ADD $50,000</td>
                                        <td>L$15,10,000</td>
                                        <td>$21,100</td>
                                        <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                        <td> <input type="submit" value="Reassign" disabled></td>
                                      </tr>
                                      <tr class="labelfontstyle">
                                        <td>LLG12345</td>
                                        <td>PRU Personal Accident</td>
                                        <td>Submitted</td>
                                        <td>Reema F</td>
                                        <td>Singapore Bank</td>
                                        <td>Life $10,00,000 & ADD $50,000</td>
                                        <td>L$15,00,000</td>
                                        <td>$21,000</td>
                                        <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                        <td> <input type="submit" value="Reassign" disabled></td>
                                      </tr>
                                      <tr class="labelfontstyle">
                                        <td>LLG12345</td>
                                        <td>PRU Personal Accident</td>
                                        <td>Submitted</td>
                                        <td>Reena B</td>
                                        <td>Singapore Bank</td>
                                        <td>Life $10,00,000 & ADD $50,000</td>
                                        <td>L$15,00,000</td>
                                        <td>$21,000</td>
                                        <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                        <td> <input type="submit" value="Reassign" disabled ></td>
                                      </tr>
                                      <tr class="labelfontstyle">
                                        <td>LLG12345</td>
                                        <td>PRU Personal Accident</td>
                                        <td>Submitted</td>
                                        <td>Seema P</td>
                                        <td>Singapore Bank</td>
                                        <td>Life $20,00,000 & ADD $50,000</td>
                                        <td>L$12,00,000</td>
                                        <td>$22,000</td>
                                        <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                        <td> <input type="submit" value="Reassign" disabled></td>
                                      </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let task of tasksList | slice:0:5; let i = index">
                                        <td>{{task?.BDCONTRACT_NUMBER}}</td>
                                        <td>{{task?.BDPLAN_NAME}}</td>
                                        <td>{{task?.BDPOLICY_STATUS}}</td>
                                        <td>{{task?.OWNER}}</td>
                                        <td>{{task?.BDCHANNEL}}</td>
                                        <td>{{task?.BDRISK}}</td>
                                        <td>{{task?.BDTSR}}</td>
                                        <td>{{task?.BDPREMIUM}}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!--<a class="viewmore" routerLink="/tasklist">View More</a>-->
                    </div>

                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="title">My Activity</div>
                        <!-- <div class="filters">
                            <div class="date-filter"><span class="text">July 2019</span><span class="icon"><img
                                        src="../../assets/calender.png" /></span></div>
                        </div> -->
                    </div>
                    <div class="panel-content">
                        <div class="carousel_con">
                            <carousel>
                                <slide>
                                    <div class="activities">
                                        <div class="activity approved">
                                            <div class="icon"><img src="../../assets/Processed Cases.png" /></div>
                                            <div class="text"><i>55</i> Approved cases</div>
                                        </div>
                                        <div class="activity rejected">
                                            <div class="icon"><img src="../../assets/Processed Cases.png" /></div>
                                            <div class="text"><i>10</i> Rejected cases</div>
                                        </div>
                                        <div class="activity refered">
                                            <div class="icon"><img src="../../assets/refer.png" /></div>
                                            <div class="text"><i>5</i> Refered to Senior underwriter</div>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="activities">
                                        <div class="activity refered">
                                            <div class="icon"><img src="../../assets/Processed Cases.png" /></div>
                                            <div class="text"><i>155</i> Approved cases</div>
                                        </div>
                                        <div class="activity rejected">
                                            <div class="icon"><img src="../../assets/refer.png" /></div>
                                            <div class="text"><i>10</i> Rejected cases</div>
                                        </div>
                                        <div class="activity approved">
                                            <div class="icon"><img src="../../assets/Processed Cases.png" /></div>
                                            <div class="text"><i>5</i> Refered to Senior underwriter</div>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>

                </div>
            <!-- </ng-scrollbar> -->
        </div>
    </div>
</div>
<div class="wrapper" id="footer_wrapper">
        Copyright &copy; 2019 Prudential Assurance Company Singapore(Pte)Limited. All rights reserved.
</div>