.sections {
    width: 100%;
    float: left;
    display: flex;
    // display: none;
    .section {
        width: calc(33.3% - 10px);
        float: left;
        margin: 0px 0px 20px 15px;
        background: #fff;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
        border-radius: 2px;
        overflow: hidden;
        &:first-child {
            margin-left: 0px;
        }
        .section-title {
            float: left;
            width: 100%;
            height: 50px;
            .icon {
                float: left;
                margin: 7px 12px 0;
                img {
                    max-height: 36px;
                }
            }
            .title {
                float: left;
                font-size: 1.167rem;
                color: #fff;
                font-weight: 400;
                height: 100%;
                vertical-align: middle;
                padding: 18px 0 0;
            }
            .drag-icon {
                height: 50px;
                width: 50px;
                float: right;
                text-align: center;
                img {
                    max-height: 16px;
                    margin: 18px 0 0; 
                }
            }
        }
        .section-content {
            float: left;
            padding: 12px;
            width: 100%;
            .graph {
                height: 220px;
                width: 100%;
                position: relative;
                .settings_icon {
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    bottom: -6px;
                    img {
                        max-height: 20px;
                    }
                }
            }
        }
        &.mytasks {
            height: 318px;
            margin-bottom: 0;
            .section-title {
                background: #4b7cf3;
                .drag-icon {
                    background: #2f62e1;
                }
            }
        }
        &.pendingcases {
            .section-title {
                background: #2acd72;
                .drag-icon {
                    background: #05a54b;
                }
            }
        }
        &.prioritycases {
            .section-title {
                background: #fac751;
                .drag-icon {
                    background: #dba832;
                }
            }
        }
    }
}
.sub-heading {
    width: 100%;
    float: left;
    padding: 0px 0 15px;
    h4 {
        font-weight: 400;
        font-size: 1.1rem;
        float: left;
    }
    .date-filter {
        float: right;
        color: #707070;
        input {
            border: 0px;
            background: transparent;
            text-align: right;
            pointer-events: none;
            width: 320px;
            padding: 0px 10px;
            height: 20px; 
            color: #707070;
        }
        font-size: .867rem;
        .icon {
            display: inline-block;
            img {
                max-height: 16px;
                cursor: pointer;
                margin: 0 4px 0 0;
            }
        }
    }
}
.carousel_con {
    width: 100%;
    padding: 12px 25px;
    .activities {
        display: flex;
        flex-direction: row;
        .activity {
            min-width: 33.3%;
            margin: 0px 0px 0px 10px;
            padding: 12px;
            display: flex;
            background: #fafafa;
            color: #fff;
            &:first-child {
                margin-left: 0px;
            }
            &.approved {
                background: #2BCD72;
            }
            &.rejected {
                background: #ff4a5b
            }
            &.refered {
                background: #4c7cf3
            }
            .icon {
                max-width: 30px;
                min-width: 30px;
                img {
                    width: 100%;
                }
            }
            .text {
                width: calc(100% - 30px);
                padding: 0px 10px;
                text-align: center;
                font-size: .867rem;
                i {
                    font-size: 1.3rem;
                    font-style: normal;
                    display: block;
                    padding: 0 0 8px;
                }
            }
        }
    }
}
.toptasks {
    margin-top: -2px;
}