<app-header></app-header>
<div class="wrapper" id="main_content" [ngClass]="showSideBar ? 'menuopen' : 'menuclose'">
    <div class="wrapper" id="app_menu">
        <div class="menu_icon_holder">
                <div class="menu_icon" (click)="toggleMenu()">
                    <!-- <img src="../../assets/icon_hamburger.jpg" /> -->
                    <img src="../../assets/hamburger_menu.png" />
                </div>
            </div>
    <app-sidemenu></app-sidemenu>
</div>
  <div class="wrapper" id="content_wrapper">
    <!-- <div class="page-title">
      <h2>Task list</h2>
    </div> -->
    <div class="task-detail-container">
        <div class="row">
          <div class="col-12">
            <h3>Task List</h3>
            
          </div>
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Tasklist</li>

              </ol>
            </nav>
          </div>
        </div>
    </div>
    <div class="task-list-con">
      <div class="task-list">
          <div class="panel">
              <div class="panel-heading">
                  <div class="title">Transaction Listing</div>
                  <div class="filters">
                      <!-- <div class="date-filter">
                          <span class="text">July 2019</span>
                          <span class="icon"><img src="../../assets/calender.png" /></span>
                      </div> -->
                  </div>
              </div>
              <div class="panel-content">
               
                  <ag-grid-wc></ag-grid-wc>
                  <!--<div class="table_css">
                      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [gridOptions]="gridOptions"
                      [rowData]="rowData">
                    </ag-grid-angular>
                  </div>-->

                  <div class="table_css">
                    <table>
                        <thead>
                            <tr>
                                <th class="labelfontstyle">Contract No.</th>
                                <th >Plan Name</th>
                                <th>Policy Status</th>
                                <th>Underwriter</th>
                                <th>Channel</th>
                                <th>Risk</th>
                                <th>TSR</th>
                                <th>Premium</th>
                                <th>Action</th>
                            </tr>
                            <tr class="labelfontstyle">
                                <td>LLG12345</td>
                                <td>PRU Personal Accident</td>
                                <td>Submitted</td>
                                <td>Chitra P</td>
                                <td>Singapore Bank</td>
                                <td>Life $10,00,000 & ADD $50,000</td>
                                <td>L$15,00,000</td>
                                <td>$21,000</td>
                                <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                <td> <input type="submit" value="Reassign" disabled></td>
                              </tr>
                              <tr class="labelfontstyle">
                                <td>LLG12345</td>
                                <td>PRU Personal Accident</td>
                                <td>Submitted</td>
                                <td>Amrita T</td>
                                <td>Singapore Bank</td>
                                <td>Life $11,00,000 & ADD $50,000</td>
                                <td>L$15,10,000</td>
                                <td>$21,100</td>
                                <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                <td> <input type="submit" value="Reassign" disabled></td>
                              </tr>
                              <tr class="labelfontstyle">
                                <td>LLG12345</td>
                                <td>PRU Personal Accident</td>
                                <td>Submitted</td>
                                <td>Reema F</td>
                                <td>Singapore Bank</td>
                                <td>Life $10,00,000 & ADD $50,000</td>
                                <td>L$15,00,000</td>
                                <td>$21,000</td>
                                <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                <td> <input type="submit" value="Reassign" disabled></td>
                              </tr>
                              <tr class="labelfontstyle">
                                <td>LLG12345</td>
                                <td>PRU Personal Accident</td>
                                <td>Submitted</td>
                                <td>Reena B</td>
                                <td>Singapore Bank</td>
                                <td>Life $10,00,000 & ADD $50,000</td>
                                <td>L$15,00,000</td>
                                <td>$21,000</td>
                                <td> <input type="submit" value="View"style="border-color: red;color:red;background-color: white;"></td>
                                <td> <input type="submit" value="Reassign" disabled ></td>
                              </tr>
                            
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasksList | slice:0:5; let i = index">
                                <td>{{task?.BDCONTRACT_NUMBER}}</td>
                                <td>{{task?.BDPLAN_NAME}}</td>
                                <td>{{task?.BDPOLICY_STATUS}}</td>
                                <td>{{task?.OWNER}}</td>
                                <td>{{task?.BDCHANNEL}}</td>
                                <td>{{task?.BDRISK}}</td>
                                <td>{{task?.BDTSR}}</td>
                                <td>{{task?.BDPREMIUM}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
              </div>
               <div class="panel-footer">
                  <a class="viewmore">View More</a>
              </div> 
  
          </div>
        <!-- <div class="__header">
          <span>Total of {{rowData.length}} Policies for review & approve</span>
        </div>
        <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-balham" [gridOptions]="gridOptions"
          [rowData]="rowData">
        </ag-grid-angular> -->
      </div>
        
    </div>
  </div>
</div>
<div class="wrapper" id="footer_wrapper">
  Copyright &copy; 2019 Prudential Assurance Company Singapore(Pte)Limited. All rights reserved.
</div>