.task-list-con {
    height: calc(100% - 120px);
    // padding: 0 15px;
    overflow: hidden;
    .task-list {
        padding: 25px 15px 0px;
        width: 100%;
        float: left;
        height: 100%;
        .panel, .table_css {
            height: 100%;
            .panel-content {
				height: calc(100% - 48px);
				padding-left: 20px;
				padding-top:10px;
            }
        }
    }
    // background-color: #f0f0f0;
    // padding: 0px 15px 0px 15px;

    // .__header {
    //  padding: 15px 10px
    //  background-color: #fff; 
    //  border-radius: 5px;
    //  border-bottom: 2px soild grey; 
    // }
    .ag-header-viewport {
        background-color: red;
    }
}
.table_css {
    padding: 0px;
}

.task-detail-container{
    padding: 15px 20px 0;
}


.breadcrumb{
	background: none;
	padding: 0px;
	font-size: 12px;
	margin: 0px 0 25px 0;
}

.breadcrumb a{
	color: #af243b;
	text-decoration: underline;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "›";
}

.detail_panel{
	margin-bottom: 30px;
}
.detail_panel .card{
	padding: 0px;
	box-shadow: none;
	border-color: #c3c3c3;
	margin: 0px;
}


.detail_panel .card-header {
    padding: 10px 15px;
    margin-bottom: 0;
    background-color:#c3c3c3;
    border-bottom: 1px solid rgba(0,0,0,.125);
	color:#1d3041;
	font-size: 18px;
	font-weight: 600;
}

.detail_panel .card-title{
	border-bottom: #f2f2f2 solid 1px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: 500;
}

.detail_panel dl{
	font-size: 14px;
	margin-bottom: 40px;
}

.detail_panel dd{
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 500;
}
h3{
	margin-bottom: 15px;
}

.detail_panel dt{
	text-align: right;
	font-weight: 400;
}

.detail_panel .card-body{
	height: 450px;
	overflow-y: auto;
	padding:0px; 
	
}

.anchorlinks{
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
	border-bottom: #f2f2f2 solid 1px;
	background: #f2f2f2;

}

.anchorlinks li{
	list-style: none;
	padding: 0;
	margin: 0 0 0px 0;
	display: inline-block;
	
}

.anchorlinks li a{
	font-size: 14px;
	padding: 10px 10px;
	display: block;
}

.info_cont{
	padding: 15px;
}
.btn{
	font-weight: 400;
	padding-left:30px;
	padding-right:30px;
	margin: 5px;
}

.btn-primary{
	background: #ec1b2e;
	border-color:#ec1b2e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c91323;
    border-color: #c91323;
}


.btn-secondary{
	background: #fff;
	border-color:#ec1b2e;
	color: #ec1b2e;
}

.btn-secondary:hover {
    color: #c91323;
    background-color: #f2f2f2;
    border-color: #c91323;
}

.btn-gray{
	background: #69747a;
	border-color:#69747a;
	color: #fff;
}

.btn-gray:hover {
    color: #fff;
    background-color: #576268;
    border-color: #576268;
}

.btn{
	border-radius: 0px;
}
.nobg{
	background-color: transparent!important;
}

::ng-deep{
	.tab-content{
	padding: 0px;
}
.nav-tabs .nav-link{
	border-radius: 0px;
	padding: 12px 15px !important;
	font-size: 14px;
	color: #707070;
}

.nav-link.active{
	color: #af243b !important;
}

.tab-pane.active{
    height: 360px;
}

}
