/* You can add global styles to this file, and also import other style files */
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
    vertical-align: baseline;
    font-family: 'Ubuntu';
    color:#576271;     
   
}
html, body {
    height: 100%;
}
body {
    height: 100%;
    line-height: 1;
    background: #fff;
    font-size: 16px;
    color: #232323;
    font-family: 'Ubuntu', sans-serif;
    div {
        box-sizing: border-box;
    }
    *:focus {
        outline: none !important;
    }
}
.clearall {
    clear: both;
}
.wrapper {
    width: 100%;
    float: left;
}
.container {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	// max-width: 1000px;
}

#filter-text-box
{
 padding-left: 15px;
 padding-right: 0px;
}

/* Menu CSS */
#app_menu {
    width: 200px;
    height: 100%;
    background: #69747a;
    float: left;
    transition: all .567s ease-in-out;
    overflow: hidden;
    .menu_icon_holder {
        height:50px;
        width: 100%;
        float: left;
        .menu_icon {
            cursor: pointer;
            width: 30px;
            height: 50px;
            padding: 10px 10px 10px 10px;
            img {
                max-height: 24px;
                width: 28px;
            }
            span {
                display: block;
                height: 2px;
                background: #fff;
                width: 100%;
                margin: 1px 0;
            }
        }
    }
    .main_menu {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: left;
        width: 100%;
        li {
            margin: 0px 0;
            padding: 0px;
            width: 100%;
            float: left;
            clear: both;
            position: relative;
            cursor: pointer;
            &.active {
                background: #ff002c;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 1px;
                background: rgba(131, 140, 146, .8);
                left: 10px;
                right: 10px;
            }
            a {
                display: block;
                padding: 7.5px 15px;
                color: #ffffff;
                white-space: nowrap;
                font-size: .95rem;
                .icon {
                    display:  inline-block;
                    vertical-align: middle;
                    margin: 0 12px 0 0;
                    img {
                        max-height: 16px
                    }
                }
                .text {
                    transition: all .567s ease-in-out;
                    opacity: 1;
                    color:white;
                }
            }
        }
    }
}
/* #footer_wrapper */
#footer_wrapper {
    height: 40px;
    background: #203e4e;
    text-align: center;
    font-size: 1rem;
    color: #A3A3A3;
    line-height: 40px;
}
/* Main Content */
#main_content {
    height: calc(100% - 70px - 40px);
    overflow: hidden;
}
#content_wrapper {
    transition: all .567s ease-in-out;
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
    float: left;
    background: #f0f0f0;
    .content {
        padding: 0px 15px;
    }
    .page-title {
        width: 100%;
        padding: 15px 20px;
        border-bottom: solid 1px #95a3ac;
        margin: 0 0 20px;
        h2 {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 1.2rem;
            color: #707070;
        }
    }
}
/* Menu Animation */
.menuclose {
    #app_menu {
        width: 52px;
        .text {
            opacity: 0 !important;
        }
    }
    #content_wrapper {
        width: calc(100% - 52px);
    }
}
.panel {
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    float: left;
    clear: both;
    margin: 0 0 20px;
    .panel-heading {
        font-size: .867rem;
        font-weight: 600;
        padding: 4px 6px;
        border-bottom: solid 1px #ccc;
        height: 48px;
        .title {
            float: left;
            color: #576271;
            font-size: 1rem;
            line-height: 40px;
            padding: 0px 10px;
        }
        .filters {
            float: right;
            padding: 0 10px 0 0;
            .date-filter {
                float: right;
                color: #707070;
                font-size: .92rem;
                margin: 7px 0 0;
                position: relative;
                .text {
                    float: left;
                    padding: 6px 7px 0 0;
                }
                input {
                    border: 0px;
                    background: transparent;
                    text-align: right;
                    pointer-events: none;
                    width: 320px;
                    padding: 0px 10px;
                    height: 20px; 
                    color: #707070;
                }
                .icon {
                    display: inline-block;
                    margin: 4px 0 0;
                    img {
                        max-height: 16px;
                        margin: 0 0px 0 0;
                    }
                }
            }
        }
    }
    .panel-content {
        width: 100%;
        float: left;
    }
    .panel-footer {
        font-size: .867rem;
        padding: 4px 15px;
        border-top: solid 1px #ccc;
        height: 40px;
        float: left;
        width: 100%;
        .viewmore {
            float: right;
            color: #4c7cf3;
            font-size: .73rem;
            text-decoration: underline;
            line-height: 30px;
            cursor: pointer;
        }
    }
}

.carousel-indicators {
    display: none;
}
.carousel-control-next {
    right: -20px;
    width: 21px;
    cursor: pointer;
    &::after {
        content: '';
        border-style: solid;
        border-width: 2px;
        border-color: transparent transparent #232323 #232323;
        width: 10px;
        height: 10px;
        transform: rotate(220deg);
    }
    span {
        display: none;
    }
}
.carousel-control-prev {
    left: -20px;
    width: 24px;
    cursor: pointer;
    span {
        display: none;
    }
    &::after{
        content: '';
        border-style: solid;
        border-width: 2px;
        border-color: transparent transparent #232323 #232323;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
    }

}
.graph {
    .graph_con {
        height: 150px;
        position: relative;
    }
    .donut_value {
        position: absolute;
        text-align: center;
        pointer-events: none;
        font-size: 1.8rem;
        top: 55px;
        left: 0;
        right: 0;
        span {
            display: block;
        font-size: .867rem;
        padding: 7px 0 0;
        }
    }
    .graph_labels {
        width: 100%;
        clear: both;
        float: left;
        text-align: center;
        padding: 10px 0 0;
        .graph_label {
            vertical-align: middle;
            display: block;
            margin: 0px 0 7px;
            font-size: .9rem;
            i {
                width: 12px;
                height: 12px;
                display: inline-block;
                border-style: solid;
                border-width: 2px;
                border-radius: 100px;
                line-height: 14px;
    
                &.green{
                    border-color: #2acd72;
                }
                &.blue{
                    border-color: #4b7cf3;
                }
                &.yellow{
                    border-color: #fac751;
                }
                &.pink{
                    border-color: #dd4955;
                }
            }
    
        }
    }
}
.table_css {
    padding: 0px 10px;
    table {
        // table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        thead {
            tr  {
                border-bottom: solid 1px rgba(0,0,0,0.5);
                th {
                    font-size: .85rem;
                    color: rgba(0,0,0,.6);
                    padding: 8px 5px;
                    text-align: left;
                    font-family: Ubuntu;
                }
            }
        }
        tbody {
            tr  {
                border-top: solid 1px rgba(0,0,0,0.4);
                td {
                    font-size: .8rem;
                    color: rgba(0,0,0,.6);
                    padding: 6px 5px;
                    font-family: Ubuntu;
                }
            }
        }
    }
}
button {
    background: transparent;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: darkgrey;
}
::-webkit-scrollbar-thumb {
    background-color: #656A6D;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}


@import '~ag-grid-community/dist/styles/ag-grid.css';

@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

.modal-content {
    border-color: transparent;
}
.modal-header {
    padding: 12px;
    background: #707070;
    color: #fff;
    text-align: center;
}
.btn-info {
    background: #4b7cf3;
}

.btn-primary{
	background: #ec1b2e;
	border-color:#ec1b2e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c91323;
    border-color: #c91323;
}


.btn-secondary{
	background: #fff;
	border-color:#ec1b2e;
	color: #ec1b2e;
}

.btn-secondary:hover {
    color: #c91323;
    background-color: #f2f2f2;
    border-color: #c91323;
}

.btn-gray{
	background: #69747a;
	border-color:#69747a;
	color: #fff;
}

.btn-gray:hover {
    color: #fff;
    background-color: #576268;
    border-color: #576268;
}

.labelfontstyle
{ font-size:12px;
}


.ag-cell ag-cell-not-inline-editing ag-cell-with-height ag-cell-value ag-cell-no-focus
{
width:50px;    
}

.ag-cell ag-cell-not-inline-editing ag-cell-with-height ag-cell-value ag-cell-no-focus
{
    width:50px;
}


.ag-root-wrapper-body ag-layout-auto-height
{
    padding-left: 50px;
    padding-right: 50px;
}