<app-header></app-header>
<div class="wrapper" id="main_content" [ngClass]="showSideBar ? 'menuopen' : 'menuclose'">
    <div class="wrapper" id="app_menu">
            <div class="menu_icon_holder">
                    <div class="menu_icon" (click)="toggleMenu()">
                        <!-- <img src="../../assets/icon_hamburger.jpg" /> -->
                        <img src="../../assets/hamburger_menu.png" />
                    </div>
                </div>
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="wrapper" id="content_wrapper">
        <div class="task-detail-container">
            <div class="row">
              <div class="col-12">
                <h3>Task Detail</h3>
              </div>
              <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/tasklist">My Tasklist</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Proposal No. {{tasksDetails?.policyDetails?.contractNumber}}</li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="detail_panel">
                  <div class="card">
                    <div class="card-header">Proposal details </div>
                    <div class="card-body details_panel">
                      <div class="row no-gutters">
                          <div class="col-6">
                              <div class="panel">
                                  <div class="panel-heading">
                                      <div class="title">Policy Details</div>
                                  </div>
                                  <div class="panel-content">
                                      <dl class="row">
                                          <dt class="col-sm-5">Proposal No.</dt>
                                          <dd class="col-sm-7">{{tasksDetails?.policyDetails?.contractNumber}}</dd>
                                          <dt class="col-sm-5">{{tasksDetails?.policyDetails?.planName}}</dt>
                                          <dd class="col-sm-7">PRU Personal Accident</dd>
                                          <dt class="col-sm-5">Policy Status</dt>
                                          <dd class="col-sm-7">{{tasksDetails?.policyDetails?.policyStatus}}</dd>
                                          <dt class="col-sm-5">Risk</dt>
                                          <dd class="col-sm-7">{{tasksDetails?.policyDetails?.risk}}</dd>
                                          <dt class="col-sm-5">TSAR</dt>
                                          <dd class="col-sm-7">${{tasksDetails?.policyDetails?.tsr}}</dd>
                                          <dt class="col-sm-5">Total Annualised Premium</dt>
                                          <dd class="col-sm-7">$21,000</dd>
                                        </dl> 
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="panel">
                                  <div class="panel-heading">
                                      <div class="title">Financial Details</div>
                                  </div>
                                  <div class="panel-content">
                                      <dl class="row">
                                          <dt class="col-sm-5">Proposal No.</dt>
                                          <dd class="col-sm-7">LLGG123456</dd>
                                          <dt class="col-sm-5">Plan Name</dt>
                                          <dd class="col-sm-7">PRU Personal Accident</dd>
                                          <dt class="col-sm-5">Policy Status</dt>
                                          <dd class="col-sm-7">Submitted</dd>
                                          <dt class="col-sm-5">Risk</dt>
                                          <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                                          <dt class="col-sm-5">TSAR</dt>
                                          <dd class="col-sm-7">$15,00,000</dd>
                                          <dt class="col-sm-5">Total Annualised Premium</dt>
                                          <dd class="col-sm-7">$21,000</dd>
                                        </dl> 
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="panel">
                                  <div class="panel-heading">
                                      <div class="title">Proposer Details</div>
                                  </div>
                                  <div class="panel-content">
                                      <dl class="row">
                                          <dt class="col-sm-5">Proposal No.</dt>
                                          <dd class="col-sm-7">LLGG123456</dd>
                                          <dt class="col-sm-5">Plan Name</dt>
                                          <dd class="col-sm-7">PRU Personal Accident</dd>
                                          <dt class="col-sm-5">Policy Status</dt>
                                          <dd class="col-sm-7">Submitted</dd>
                                          <dt class="col-sm-5">Risk</dt>
                                          <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                                          <dt class="col-sm-5">TSAR</dt>
                                          <dd class="col-sm-7">$15,00,000</dd>
                                          <dt class="col-sm-5">Total Annualised Premium</dt>
                                          <dd class="col-sm-7">$21,000</dd>
                                        </dl> 
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="panel">
                                  <div class="panel-heading">
                                      <div class="title">Medical Details</div>
                                  </div>
                                  <div class="panel-content">
                                      <dl class="row">
                                          <dt class="col-sm-5">Proposal No.</dt>
                                          <dd class="col-sm-7">LLGG123456</dd>
                                          <dt class="col-sm-5">Plan Name</dt>
                                          <dd class="col-sm-7">PRU Personal Accident</dd>
                                          <dt class="col-sm-5">Policy Status</dt>
                                          <dd class="col-sm-7">Submitted</dd>
                                          <dt class="col-sm-5">Risk</dt>
                                          <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                                          <dt class="col-sm-5">TSAR</dt>
                                          <dd class="col-sm-7">$15,00,000</dd>
                                          <dt class="col-sm-5">Total Annualised Premium</dt>
                                          <dd class="col-sm-7">$21,000</dd>
                                        </dl> 
                                  </div>
                              </div>
                          </div>
                      </div>
                  <!-- <ul class="anchorlinks">
                    <li><a href="#">Policy Details</a></li>
                    <li><a href="#">Financial Details</a></li>
                    <li><a href="#">Proposer Details</a></li>
                    <li><a href="#">Medical Details</a></li>
                  </ul> -->
                  
                  <!-- <tabset>
                      <tab heading="Policy Details" id="tab1">
                          <dl class="row">
                              <dt class="col-sm-5">Proposal No.</dt>
                              <dd class="col-sm-7">{{taskDetailObj?.contractNumber}}</dd>
                              <dt class="col-sm-5">{{taskDetailObj?.planName}}</dt>
                              <dd class="col-sm-7">PRU Personal Accident</dd>
                              <dt class="col-sm-5">Policy Status</dt>
                              <dd class="col-sm-7">{{taskDetailObj?.policyStatus}}</dd>
                              <dt class="col-sm-5">Risk</dt>
                              <dd class="col-sm-7">{{taskDetailObj?.risk}}</dd>
                              <dt class="col-sm-5">TSAR</dt>
                              <dd class="col-sm-7">${{taskDetailObj?.tsr}}</dd>
                              <dt class="col-sm-5">Total Annualised Premium</dt>
                              <dd class="col-sm-7">$21,000</dd>
                            </dl> 
                      </tab>
                      <tab heading="Financial Details">
                          <dl class="row">
                              <dt class="col-sm-5">Proposal No.</dt>
                              <dd class="col-sm-7">LLGG123456</dd>
                              <dt class="col-sm-5">Plan Name</dt>
                              <dd class="col-sm-7">PRU Personal Accident</dd>
                              <dt class="col-sm-5">Policy Status</dt>
                              <dd class="col-sm-7">Submitted</dd>
                              <dt class="col-sm-5">Risk</dt>
                              <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                              <dt class="col-sm-5">TSAR</dt>
                              <dd class="col-sm-7">$15,00,000</dd>
                              <dt class="col-sm-5">Total Annualised Premium</dt>
                              <dd class="col-sm-7">$21,000</dd>
                            </dl> 
                      </tab>
                      <tab heading="Proposer Details">
                          <dl class="row">
                              <dt class="col-sm-5">Proposal No.</dt>
                              <dd class="col-sm-7">LLGG123456</dd>
                              <dt class="col-sm-5">Plan Name</dt>
                              <dd class="col-sm-7">PRU Personal Accident</dd>
                              <dt class="col-sm-5">Policy Status</dt>
                              <dd class="col-sm-7">Submitted</dd>
                              <dt class="col-sm-5">Risk</dt>
                              <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                              <dt class="col-sm-5">TSAR</dt>
                              <dd class="col-sm-7">$15,00,000</dd>
                              <dt class="col-sm-5">Total Annualised Premium</dt>
                              <dd class="col-sm-7">$21,000</dd>
                            </dl> 
                      </tab>
                      <tab heading="Medical Details">
                          <dl class="row">
                              <dt class="col-sm-5">Proposal No.</dt>
                              <dd class="col-sm-7">LLGG123456</dd>
                              <dt class="col-sm-5">Plan Name</dt>
                              <dd class="col-sm-7">PRU Personal Accident</dd>
                              <dt class="col-sm-5">Policy Status</dt>
                              <dd class="col-sm-7">Submitted</dd>
                              <dt class="col-sm-5">Risk</dt>
                              <dd class="col-sm-7">Life $10,00,000 &amp; ADD $500,000</dd>
                              <dt class="col-sm-5">TSAR</dt>
                              <dd class="col-sm-7">$15,00,000</dd>
                              <dt class="col-sm-5">Total Annualised Premium</dt>
                              <dd class="col-sm-7">$21,000</dd>
                            </dl> 
                      </tab>
                    </tabset> -->
                  
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="detail_panel">
                      <div class="card">
                        <div class="card-header nobg">Worksheet </div>
                        <div class="card-body" style="height: 400px;">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-6">
                      <div class="detail_panel dragger_con">
                        <div class="dragger"></div>
                        <div class="card">
                          <div class="card-header nobg">Documents </div>
                          <div class="card-body">
                              <tabset>
                                  <tab heading="Policy Details" id="tab1">
                                      <app-doc-viewer></app-doc-viewer>
                                  </tab>
                                  <tab heading="Financial Details">
                                      <app-doc-viewer></app-doc-viewer>
                                  </tab>
                                  <tab heading="Proposer Details">
                                      <app-doc-viewer></app-doc-viewer>
                                  </tab>
                                  <tab heading="Medical Details">
                                      <app-doc-viewer></app-doc-viewer>
                                  </tab>
                                </tabset>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-secondary" (click)="completeTask()">Recommend to Senior Underwriter</button>
                <button class="btn btn-secondary">Cancel</button>
              </div>
              
              <div class="col-6 text-right">
                <button class="btn btn-gray">Reassign</button>
                <button class="btn btn-primary">Update Worksheet</button>
              </div>
              
            </div>
          </div>
    </div>
</div>
<div class="wrapper" id="footer_wrapper">
    Copyright &copy; 2019 Prudential Assurance Company Singapore(Pte)Limited. All rights reserved.
</div>